@import "tailwindcss";

:root {
  --font-playfair: var(--font-playfair);
  --font-inter: var(--font-inter);
}

.font-serif {
  font-family: var(--font-playfair), serif;
}

.font-sans {
  font-family: var(--font-inter), sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(24, 24, 27);
  color: #ffffff;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
}

